<div class="MMM-Luftdaten {{ borderClass }}">
    <div class="header">{{temperature }} °C</div>
     <div class="sensor">
        <span>Luftdruck</span>
        <span>{{ pressure }} hPa</span>
    </div>
    <div class="sensor">
        <span>Luftfeuchtigkeit</span>
        <span>{{ humidity }} %</span>
    </div>
    <div class="sensor">
        <span>PM2.5</span>
        <span>{{ pm25 }} µg/m³</span>
    </div>
    <div class="sensor">
        <span>PM10</span>
        <span>{{ pm10 }} µg/m³</span>
    </div>
    <div class="footer">{{ lastUpdate }}</div>
</div>