.MMM-Luftdaten {
    border-radius: 10px;
    font-size: 0.8em;
    line-height: 1.2em;
    min-width: 300px;
}

.MMM-Luftdaten.border {
    border: 1px solid #3c3c3b;
}

.MMM-Luftdaten .header,
.MMM-Luftdaten .footer {
    font-size: 1em;
    line-height: 1em;
    padding: 0.25em;
    text-align: center;
}

.MMM-Luftdaten .header {
    color: #fff;
    font-size: 1.5em;
    border-bottom: 1px solid #3c3c3b;
}
.MMM-Luftdaten .footer {
    font-size: 0.7em;
    border-top: 1px solid #3c3c3b;
}
.MMM-Luftdaten .sensor {
    padding: 0 0.4em;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.MMM-Luftdaten .sensor .label {
    flex-grow: 1;
    text-align: left;
}
.MMM-Luftdaten .sensor i {
    margin: 2px;
}

.MMM-Luftdaten i.tendency {
    font-size: 76%;
}